_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
node_modules/

# TODO: These files are temporarily excluded from linting and formatting. 
#       Please revisit and address any issues later.
*.js
*.html